@use "../core/colors";
@use "../core/typography";

.badge {
  @include typography.ui-font;

  font-size: .75rem;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: colors.$dark-blue;
  color: colors.$white;

  &-red {
    background-color: colors.$red;
  }

  &-orange {
    background-color: colors.$orange;
  }

  &-yellow {
    background-color: colors.$yellow;
  }

  &-green {
    background-color: colors.$green;
  }

  &-blue {
    background-color: colors.$blue;
  }

  &__state {
    display: inline-block;

    &-on {
      background-color: colors.$green;
    }

    &-conditional {
      background-color: colors.$yellow;
    }

    &-off {
      background-color: colors.$red;
    }

    &-disabled {
      background-color: colors.$light-gray;
    }

    &-group {
      background-color: colors.$blue;
    }

    &-community {
      background-color: colors.$orange;
    }

    &-all {
      background-color: colors.$green;
    }
  }
}
