@use "sass:color";
@use "../core/colors";

.field_with_errors {
  > label {
    color: colors.$dark-red;
  }

  > .error {
    border: 1px solid colors.$dark-red;
  }
}

.errors {
  border: 1px solid colors.$dark-red;
  padding: 1rem;
  color: colors.$dark-red;
  background-color: color.adjust(colors.$dark-red, $lightness: 50%);
  margin-bottom: 0.5rem;
}