@use "sass:color";
@use "../core/colors";
@use "../core/typography";

div.flash-messages {
  position: absolute;
  width: 100%;
  display: grid;
  place-items: center;
}

span.flash {
  @include typography.ui-font;

  background-color: color.adjust(colors.$green, $lightness: 40%);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid colors.$dark-green;
  opacity: 1;
  z-index: 1000;

  max-width: 30vw;

  &.flash-notice {
    background-color: color.adjust(colors.$dark-blue, $lightness: 60%);
    border-color: colors.$dark-blue;
  }
  &.flash-alert {
    background-color: color.adjust(colors.$red, $lightness: 35%);
    border-color: colors.$dark-red;
  }
}
