@use "../core/colors";

.icon {
  display: inline-block;
  max-width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: colors.$light-gray;
  stroke: colors.$light-gray;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.audio {
  cursor: pointer;
}

.playing {
  fill: colors.$orange;
  stroke: colors.$orange;
}

.pin {
  display: inline-block;
  padding: 10px 0;
  &::before {
    content: "\1F4CD";
  }
}