@use "../core/colors";
@use "../core/flexbox";
@use "../core/typography";

.filters {
  @include flexbox.flexbox;
  @include typography.ui-font;

  gap: 0.5rem;
  align-items: flex-end;

  padding-bottom: 0.5rem;

  label {
    font-size: .7rem;
    margin-bottom: 0.1rem;
    display: block;
  }

  input, select {
    border: 1px solid colors.$lighter-gray;
    max-width: 10rem;
  }
}