@use 'mapbox-gl/dist/mapbox-gl';
@use 'maplibre-gl/dist/maplibre-gl';

@use 'core/reset';
@use 'core/colors';
@use 'core/typography';
@use 'core/flexbox';
@use 'core/spin';
@use 'cms/layout';
@use 'cms/tables';
@use 'cms/columns';
@use 'cms/search_filters';
@use 'cms/forms';
@use 'cms/import';
@use 'cms/links';
@use 'cms/badges';
@use 'cms/images';
@use 'cms/cards';
@use 'cms/flex_table';
@use 'cms/avatars';
@use 'cms/icons';
@use 'cms/media';
@use 'cms/errors';
@use 'cms/flash';
@use 'cms/tooltips';
@use 'cms/copyText';

#themeMap, #placeMap {
  min-height: 400px;
  min-width: 400px;
}

#static-map {
  min-height: 350px;
  min-width: 350px;
}

.metric {
  font-size: 6rem;
}